

<div class="container" >
  <div class="btn text-center" style="width: 100%;">
    <button (click)="openModal()" class="btn btn-primary">
      Reactive Form
    </button>
    <div id="myModal" class="modal" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title text-start">Reactive Form</h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="profileGroup" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <input type="text" class="form-control" name="" placeholder="First Name" formControlName="fName"
                    [class.error]="profileGroup.controls.fName.invalid && (profileGroup.controls.fName.touched || profileGroup.controls.fName.dirty)"
                    [class.correct]="profileGroup.controls.fName.valid">
                    @if (profileGroup.controls.fName.invalid && (profileGroup.controls.fName.touched || profileGroup.controls.fName.dirty)){
                      @if(profileGroup.controls.fName.errors?.["required"]){
                        <small class="ala">*Bush bulmasligi kerak</small>
                      }
                      @if(profileGroup.controls.fName.errors?.["minlength"]){
                        <small class="ala">*Belgi kamita 5 ta bulsin</small>
                      }
                      @if(profileGroup.controls.fName.errors?.["maxlength"]){
                        <small class="ala">*Belgi  8 tadan kam bulsin</small>
                      }
                    }
                  </div>
                  <div class="col-6">
                    <input type="text" placeholder="Last Name" class="form-control" formControlName="lName"
                    [class.error]="profileGroup.controls.lName.invalid && (profileGroup.controls.lName.touched || profileGroup.controls.lName.dirty)"
                    [class.correct]="profileGroup.controls.lName.valid">
                    @if(profileGroup.controls.lName.invalid && (profileGroup.controls.lName.touched || profileGroup.controls.lName.dirty)){
                      @if(profileGroup.controls.lName.errors?.["required"]){
                        <small class="ala">*Bush bulmasligi kerak</small>
                      }
                      @if(profileGroup.controls.lName.errors?.["minlength"]){
                        <small class="ala">*Belgi kamita 5 ta bulsin</small>
                      }
                      @if(profileGroup.controls.lName.errors?.["maxlength"]){
                        <small class="ala">*Belgi  8 tadan kam bulsin</small>
                      }
                    }
                  </div>
                </div>
              </div>
              <div class="form-group pt-3">
                <div class="row">
                  <div class="col-12">
                    <input type="text" placeholder="Company" class="form-control" formControlName="company"
                    [class.error]="profileGroup.controls.company.invalid && (profileGroup.controls.company.touched || profileGroup.controls.company.dirty)"
                    [class.correct]="profileGroup.controls.company.valid">
                    @if(profileGroup.controls.company.invalid && (profileGroup.controls.company.touched || profileGroup.controls.company.dirty)){
                      @if(profileGroup.controls.company.errors?.["required"]){
                        <small class="ala">*Bush bulmasligi kerak</small>
                      }
                      @if(profileGroup.controls.company.errors?.["minlength"]){
                        <small class="ala">*Belgi kamita 8 ta bulsin</small>
                      }
                      @if(profileGroup.controls.company.errors?.["maxlength"]){
                        <small class="ala">*Belgi  10 tadan kam bulsin</small>
                      }
                    }
                  </div>
                </div>
              </div>
              <div class="form-group pt-3">
                <div class="row">
                  <div class="col-12">
                    <input type="email" placeholder="Email" class="form-control" formControlName="email"
                    [class.error]="profileGroup.controls.email.invalid && (profileGroup.controls.email.touched || profileGroup.controls.email.dirty)"
                    [class.correct]="profileGroup.controls.email.valid">
                    @if(profileGroup.controls.email.invalid && (profileGroup.controls.email.touched || profileGroup.controls.email.dirty)){
                      @if(profileGroup.controls.email.errors?.["required"]){
                        <small class="ala">*Bush bulmasligi kerak</small>
                      }
                      @if(profileGroup.controls.email.errors?.["email"]){
                        <small class="ala">Email Belgisi Quyilsin</small>
                      }
                      
                    }
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-5 pt-3">
                    <input type="text" class="form-control" placeholder="Code Area" formControlName="code"
                    [class.error]="profileGroup.controls.code.invalid && (profileGroup.controls.code.touched || profileGroup.controls.code.dirty)"
                    [class.correct]="profileGroup.controls.code.valid">
                    @if(profileGroup.controls.code.invalid && (profileGroup.controls.code.touched || profileGroup.controls.code.dirty)){
                      @if(profileGroup.controls.code.errors?.["required"]){
                        <small class="ala">*Bush bulmasin</small>
                      }
                      @if(profileGroup.controls.code.errors?.["minlength"]){
                        <small class="ala">1 Ta belgidan kam Bulmasligi kere</small>
                      }
                      @if(profileGroup.controls.code.errors?.["maxlength"]){
                        <small class="ala">3 Ta belgidan ko'p Bulmasligi kere</small>
                      }
                      
                    }
                  </div>
                  <div class="col-7 pt-3">
                    <input type="text" placeholder="Number" class="form-control" formControlName="phone"
                    [class.error]="profileGroup.controls.phone.invalid && (profileGroup.controls.phone.touched || profileGroup.controls.phone.dirty)"
                    [class.correct]="profileGroup.controls.phone.valid">
                    @if(profileGroup.controls.phone.invalid && (profileGroup.controls.phone.touched || profileGroup.controls.phone.dirty)){
                      @if(profileGroup.controls.phone.errors?.["required"]){
                        <small class="ala">*Bush bulmasligi kerak</small>
                      }
                      @if(profileGroup.controls.phone.errors?.["minlength"]){
                        <small class="ala">1 Ta belgidan kam Bulmasligi kere</small>
                      }
                      @if(profileGroup.controls.phone.errors?.["maxlength"]){
                        <small class="ala">3 Ta belgidan ko'p Bulmasligi kere</small>
                      }
                      
                    }
                  </div>
                </div>
              </div>
              <div class="form-group pt-3">
                <div class="row">
                  <div class="col-12">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Subject</label>
                      </div>
                      <select class="custom-select form-control" id="inputGroupSelect01" formControlName="sub"
                      [class.error]="profileGroup.controls.sub.invalid && (profileGroup.controls.sub.touched || profileGroup.controls.sub.dirty)"
                      [class.correct]="profileGroup.controls.sub.valid">
                        <option disabled selected>Subject</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      @if(profileGroup.controls.sub.invalid && (profileGroup.controls.sub.touched || profileGroup.controls.sub.dirty)){
                        @if(profileGroup.controls.sub.errors?.["required"]){
                          <small class="ala">*Bush bulmasligi kerak</small>
                        }
                      }
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group pt-3 text-start">
                <p>Are you an ecxting custommer?</p>
                <input type="radio" class="" id="chkbox" name="radio" 
                  [class.error]="profileGroup.controls.radio.invalid && (profileGroup.controls.radio.touched || profileGroup.controls.radio.dirty)"
                  [class.correct]="profileGroup.controls.radio.valid">No
                <input type="radio" class="" id="chkbox" name="radio" 
                  [class.error]="profileGroup.controls.radio.invalid && (profileGroup.controls.radio.touched || profileGroup.controls.radio.dirty)"
                  [class.correct]="profileGroup.controls.radio.valid"> Yes
                  @if(profileGroup.controls.radio.invalid && (profileGroup.controls.radio.touched || profileGroup.controls.radio.dirty)){
                    @if(profileGroup.controls.radio.errors?.["required"]){
                      <small class="ala">*Tanlang</small>
                    }
                  }
              </div>
              <div class="row p-3">
                <div class="col-12 text-end">
                  <button type="submit"  class="btn btn-outline-primary me-2" data-dismiss="modal">Submit</button>
                  <button type="button" class="btn btn-outline-danger" (click)="closeModal()" data-dismiss="modal">Close</button>
                </div>
              </div>
            </form>
          </div>

        </div>
    
      </div>
    </div>
  </div>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
      
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
      
                      <form #userLogin="ngForm" class="mx-1 mx-md-4" (submit)="submit(userLogin)">
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div  class="form-outline flex-fill mb-0">
                            <input name="name" #name="ngModel" type="text" id="form3Example1c" class="form-control" required maxlength="7" minlength="5" ngModel>
                            <label class="form-label" for="form3Example1c">Your Name</label>
                            <div debbuging *ngIf="name.touched && name.invalid" class="alert alert-danger">
                                <div *ngIf="name.hasError('required')">
                                    Kritish majburiy
                                </div>
                                <div *ngIf="name.hasError('minlength')">5 Ta Belgidan Kam Bulmasin</div>
                            </div>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div data-mdb-input-init class="form-outline flex-fill mb-0">
                            <input name="email" #email="ngModel" type="email" id="form3Example3c" class="form-control" required ngModel>
                            <label class="form-label" for="form3Example3c">Your Email</label>
                            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                                <div >Email kritish Majburiy</div>
                            </div>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input name="password" #password="ngModel" ngModel type="password" id="form3Example4c" class="form-control" required maxlength="9">
                            <label class="form-label" for="form3Example4c">Password</label>
                            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                                <div *ngIf="password.hasError('required')"> Parol Kiritish MAjburiy</div>
                                <div *ngIf="password.hasError('maxlength')">Parol 9 belgidan kam bulmasligi kerak</div>
                            </div>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          <div  class="form-outline flex-fill mb-0">
                            <input name="passwor2" #passwor2="ngModel" ngModel class="form-label" for="form3Example4cd" maxlength="5" required type="password" id="form3Example4cd" class="form-control" />
                            <label>Repeat your password</label>
                            <div *ngIf="passwor2.touched && passwor2.invalid" class="alert alert-danger">
                                <div *ngIf="passwor2.hasError('required')"> Parol Kiritish MAjburiy</div>
                                <div *ngIf="passwor2.hasError('maxlength')">Parol 9 belgidan kam bulmasligi kerak</div>
                            </div>
                          </div>
                        </div>
      
                        <div class="form-check d-flex justify-content-center mb-5">
                          <input #check="ngModel" ngModel required name="check" class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                          <label class="form-check-label" for="form2Example3">
                            I agree all statements in <a href="#!">Terms of service</a>
                          </label>
                          <div *ngIf="check.touched && check.invalid" class="alert alert-danger">
                            <div *ngIf="check.hasError('required')">Shartlarga kunish Majburiy</div>
                        </div>
                        </div>
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="submit" disabled="userLogin.invalid" class="btn btn-primary btn-lg">Register</button>
                        </div>
                      </form>
      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>