<mat-toolbar class="mat-toolbar">
  <button mat-icon-button class="mat-button" (click)="onOpen()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav #sidenav class="sidenav">
    <div class="links">
    <a routerLink="/home">Home</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/about">About</a>
    <a routerLink="/grid">Grid</a>
    <a routerLink="/products">Products</a>
    <a routerLink="/popup">Popup</a>
    <a routerLink="/table">Table</a>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
 